
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  margin-top: 20px;
}

app-square {
  border: 1px gray solid;
  height: 33vw;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
